streamlit
langchain
langchain-community
langchain-groq
langchain-google-genai
qdrant-client
sentence-transformers
beautifulsoup4
requests
python-dotenv
tavily-python
langchain-qdrant
pydantic
firecrawl
plotly
psutil
